@import "../../variables.scss";

.call-us-bg {
    background: linear-gradient(0deg, $dark-bg 50%, $light-bg 50%);

    &__wrap {
        position: relative;
        max-width: 1190px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-attachment: fixed;
    }

    &__info-main {
        color: #fff;
        font-weight: 600;
        font-size: 23px;
    }

    &__info-additional {
        color: #fff;
        line-height: 40px;
        font-weight: 200;
    }

    &__wk {
        font-family: 'Poppins', sans-serif;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
        letter-spacing: 1px;
        line-height: 144px;
        font-weight: 900;
        font-size: 144px;
        text-transform: uppercase;
        color: transparent;
        user-select: none;
    }
}

@media only screen and (max-width: 1200px){
    .call-us-bg {
        &__wk {
            line-height: unset;
            font-size: 8vw;
        }
    }
}

@media only screen and (max-width: 900px){
    .call-us-bg {
        &__wrap {
            padding: 0 10px;
        }
    
        &__info-main {
            font-size: 20px;
            line-height: 20px;
        }
    
        &__info-additional {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

@media only screen and (max-width: 768px){
    .call-us-bg {
        &__wrap {
            height: 120px;

            &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                width: 0;
                height: 0;
                border-bottom: 20px solid $juicy-green;
                border-right: 20px solid transparent;
                -webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.4);
                -moz-box-shadow: -5px 5px 5px rgba(0,0,0,0.4);
                box-shadow: -5px 5px 5px rgba(0,0,0,0.4);
            }

            &:before {
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                width: 0;
                height: 0;
                border-bottom: 20px solid transparent;
                border-right: 20px solid #fff;
            }
        }

        &__info {
            align-self: stretch;
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    
        &__info-additional {
            font-size: 12px;
            line-height: 14px;
            font-weight: 300;
        }
    
        &__wk {
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
            letter-spacing: 0px;
            font-weight: 900;
            font-size: 40px;
        }
    }
}