@import "../../variables.scss";

@mixin volume-text {
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb, 
                // 0 4px 0 #b9b9b9, 
                // 0 5px 0 #aaa, 
                0 6px 1px rgba(0,0,0,.1), 
                0 0 5px rgba(0,0,0,.1), 
                0 1px 3px rgba(0,0,0,.3), 
                0 3px 5px rgba(0,0,0,.2), 
                0 5px 10px rgba(0,0,0,.25), 
                0 10px 10px rgba(0,0,0,.2), 
                0 20px 20px rgba(0,0,0,.15);
}

.main-banner4 {
    height: 600px;
    position: relative;
    // background-position-y: 0, 0; //for @media use size: cover with position 0
    background-repeat: no-repeat;
    background-size: auto, cover;
    overflow: hidden;

    &__info {
        color: #fff;
        font-size: 100px;
        font-weight: 900;
        line-height: 100px;
        user-select: none;
        text-align: center;
        @include volume-text();
    }

    &__info-start {
        position: absolute;
        top: calc(40% - 100px);
    }

    &__info-end {
        position: absolute;
        top: calc(50% - 60px);
    }

    &__details {
        color: #000;
        text-shadow: 1px 1px 2px grey;
        font-size: 22px;
        user-select: none;
        text-align: center;
    }

    &__action {
        position: absolute;
        bottom: 150px;
        left: 40%;
        padding: 10px 10px;
        color: #fff;
        font-size: 15px;
        background-color: $juicy-green;
        border: none;
        box-shadow:  3px 3px 16px 0px rgba(0, 0, 0, 0.5);
        outline-style: none;

        &:hover {
            background-color: $juicy-orange;
        }
    }
}