@import "../../variables.scss";

.company-basics {
    position: relative;
    background-color: $dark-bg;

    &__list {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    &__square {
        position: absolute;
        bottom: -14px;
        left: calc(50% - 15px);
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: $dark-bg transparent transparent transparent;
    }  
}

@media only screen and (max-width: 768px){
    .company-basics {
    
        &__list {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}