@import '../../variables.scss';

$interval: 10px;
@mixin hover-state {
    color: $juicy-green;
}

.top-bar {
    width: 100vw;
    height: 60px;
    max-width: 2000px;
    position: fixed;
    z-index: 11111;
    top: 0;
    color: #fff;
    background-color: $dark-bg;

    &--scroll {
        -webkit-box-shadow: 0px 2px 5px 0px #040404;
        -moz-box-shadow: 0px 2px 5px 0px #040404;
        box-shadow: 0px 2px 5px 0px #040404;
        opacity: 0.9;
    }

    .shop-link {
        margin: 0 30px;
        padding: 5px 10px;
        position: relative;
        background: none;
        transition: background-color .5s;
        border: 1px solid $neon-orange;
        background: linear-gradient(to right, transparent, $neon-orange, transparent);
        text-shadow: 2px 2px 3px #000;
      }

      .shop-link:before,  .shop-link:after{
        content: "";
        position: absolute;
        width: 15px;
        height: 2px;
        background: $dark-bg;
        opacity: 0.9;
        transform: skewX(50deg);
        transition: .4s linear;
      }
      
      .shop-link:before {
          top: -2px;
          left: 10%;
      }
      
      .shop-link:after {
        bottom: -2px;
        right: 10%;
      }
      
      .shop-link:hover::before {
        left: 80%;
      }
      
      .shop-link:hover::after {
        right: 80%;
      }

    &__content {
        width: 98%;
        height: inherit;
        margin: 0 auto;
        font-size: 16px;
    }

    &__wrapper {
        height: inherit;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    &__wrap-left {
        @include flex-left;
    }

    &__logo {
        width: 80px;
        padding: 0 20px 0 0;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__address {
        padding-right: $interval;
        margin-right: $interval;
        border-right: 2px solid $text-color;
        font-style: normal;
        line-height: 16px;
        font-weight: 300;
    }

    &__email {
        padding-right: $interval;
        font-weight: 300;

        a {
            padding-left: 5px;
            line-height: 28px;
        }
    }

    &__email:hover {
        & a,  & svg {
            @include hover-state();
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        padding-left: $interval;
        margin-left: $interval;
        border-left: 2px solid $text-color;

        .fa-phone-volume {
            transform: rotate(-45deg);
            font-size: 22px;
            margin-right: 10px;
            color: $juicy-green;
            -webkit-animation: ring 5s infinite ease-in-out;
            animation: ring 5s infinite ease-in-out;
        }

        a {
            font-style: normal;
            font-weight: 600;
            transition: color 0.5s;
        }
    
        a:hover {
            color: $juicy-green;
        }
    }

    &__wrap-right {
        @include flex-right;
    }

    &__langs {
        padding-right: $interval;
        margin-right: $interval;
        border-right: 2px solid $text-color;
        line-height: 16px;
        cursor: pointer;
        font-weight: 300;
    }

    .lang-active {
        font-weight: 600;
        color: #fff;
    }

    &__lang:not(.lang-active) {
        &:hover {
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3px 10px;
        border: 2px solid $juicy-green;
        color: #fff;
        font-size: 14px;
        background-color: transparent;
        transition: background-color 0.5s;

        &:hover {
            background-color: $juicy-green;
        }

        .fa-facebook {
            box-sizing: content-box;
            padding-left: 5px;
            margin-left: 5px;
            font-size: 18px;
            color: #fff;
            border-left: 2px solid $juicy-green;
        }
    } 
}

@media only screen and (max-width: 1199px) {
    .top-bar {
        &__email {
            display: none;
        }
    }
}

@media only screen and (max-width: 992px) {
    .top-bar {
    
        &__content {
            width: 95%;
            font-size: 14px;
        }

        &__address, &__socials {
            display: none;
        }
    
        &__langs {
            padding-right: unset;
            margin-right: unset;
            border-right: unset;
        }
    }
}

@media only screen and (max-width: 600px) {
    .top-bar {
        & .shop-link {
            display: none;
        }

        &--scroll {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 320px) {
    .top-bar {
        &__phone {
            padding-left: unset;
            margin-left: unset;
            border-left: unset;
        }
    }
}

@keyframes ring {
    0% {
        -webkit-transform:rotate(-45deg);
    }

    2% {
        -webkit-transform:rotate(-30deg);
    }

    4% {
        -webkit-transform:rotate(-45deg);
    }

    6% {
        -webkit-transform:rotate(-30deg);
    }

    8% {
        -webkit-transform:rotate(-45deg);
    }

    10% {
        -webkit-transform:rotate(-45deg);
    }

    100% {
        -webkit-transform:rotate(-45deg);
    }
}