@import "../../variables.scss";

.about-us {
    padding-bottom: 70px;
    padding-top: 140px;
    background-color: #F8F8F8;
    overflow-x: unset;

    &__content {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:  center;
    }

    &__col {
        width: 50%;
    }

    &__header {
        position: relative;
        width: 50%;
    }

    &__i {
        position: absolute;
        top: -60px;
        left: -53px;
        filter: drop-shadow(3px 3px 7px #4d4b4bd2);
        font-family: 'Poppins', sans-serif;
        -webkit-text-stroke: 1px rgba(214, 214, 214, 0.5);
        letter-spacing: 1px;
        line-height: 144px;
        font-weight: 900;
        font-size: 144px;
        text-transform: uppercase;
        color: transparent;
        user-select: none;
    }

    &__title {
        padding: 10px 0 20px;
        position: relative;
        z-index: 1;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }

    &__presentation {
        position: relative;
        margin-left: 60px;
    }

    &__img-container{
        overflow: hidden;
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__circle {
        position: absolute;
        top: -63px;
        right: -53px;

        & img {
            width: 100%;
            height: auto;
            transform: scale(1.2);
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .about-us {
        padding-top: 80px;
        overflow-x: hidden;
    
        &__content {
            flex-direction: column-reverse;
        }
    
        &__col {
            width: 100%;
        }
    
        &__header {
            width: 100%;
            padding-bottom: 20px;
        }

        & .logo {
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    
        &__i {
            left: calc(50% - 150px);
            letter-spacing: 10px;
            line-height: 160px;
            font-size: 70px;
        }
    
        &__title {
            padding: 10px 0 20px;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
        }
    
        &__presentation {
            margin-left: 0px;
        }
    
        &__img-container{
            // overflow: hidden;
            & img {
                // width: 100%;
                // height: auto;
            }
        }
    
        &__circle {
            top: -17vw;
            right: -17vw;
    
            & img {
                transform: scale(1);
            }
        }
    }
}