@import "../../variables.scss";

.footer {
    padding-top: 50px;
    background-color: $dark-bg;

    .shop-link {
        margin: 0 10px;
        position: relative;

        &:hover:after {
                opacity: 1;
                transform: translateY(0) rotateX(0);
        }
            
        &:hover:before    {
                opacity: 0;
                transform: translateY(50%) rotateX(90deg);
        }

        &:after {
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 220px;
            height: 40px;
            color: #323237;
            line-height: 40px;
            text-align: center;
            display: block;
            transition: 0.5s;
            background: $juicy-green;
            box-shadow: 1px 1px 1px $juicy-green;
            transform: translateY(-50%) rotateX(90deg);
            }
            
        &:before {
            position: relative;
            content: attr(data-title);
            top: 0;
            left: 0;
            width: 220px;
            height: 40px;
            opacity: 1;
            display: block;
            line-height: 40px;
            text-align: center;
            transition: 0.5s;
            background: transparent;
            border: 2px solid $juicy-green;
            box-shadow: 1px 1px 1px $juicy-green;
            transform: translateY(0) rotateX(0);
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 25px 0 0;
    }

    &__company {
        width: 30%;
        color: #fff;
        text-align: left;
        letter-spacing: 1.5px;
        background-color: $dark-bg;

        &-about {
            padding-bottom: 20px;
        }

        &-logo {
            width: 100px;
        }

        &-links {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-fb {
            font-size: 23px;
            color: #fff;
            border: 2px solid $juicy-green;
            padding: 0 8px;
            box-shadow: 1px 1px 1px $neon-green;
            // filter: drop-shadow(0px 2px 3px #000);

            &:hover {
                color: $juicy-green;
                box-shadow: unset;
            }
        }
    }


    &__contacts {
        width: 35%;
        height: 300px;
        color: #fff;
    }

    &__schedule {
        margin-bottom: 20px;

        .fa-clock {
            font-size: 25px;
            margin-right: 20px;
            color: $juicy-green;
            transition: color 0.1s;
        }
    }

    &__schedule:hover .fa-clock{
        color: $juicy-orange;
    }

    .schedule-indicator {
        display: inline-block;
        margin: 0 3px 0 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        & + span {
            font-size: 12px;
        }
    }

    .schedule-indicator--open {
        box-shadow: 0 0 5px $neon-green;
        background-color: $juicy-green;

        & + span {
            color: $juicy-green;
            text-shadow: 0 0 5px $neon-green;
        }
    }

    .schedule-indicator--close {
        box-shadow: 0 0 5px $neon-orange;
        background-color: $juicy-orange;

        & + span {
            color: $juicy-orange;
            text-shadow: 0 0 5px $neon-orange;
        }
    }

    &__address {
        margin-bottom: 20px;
        .fa-map-marker-alt {
            font-size: 25px;
            margin-left: 3px;
            margin-right: 20px;
            color: $juicy-green;
            transition: color 0.1s;
        }

        a {
            text-decoration-line: underline;
            font-size: 14px; 
            padding-left: 10px;
        }

        span {
            font-style: normal;
            // font-size: 16px;
        }
    }

    &__address:hover .fa-map-marker-alt{
        color: $juicy-orange;
    }

    &__email {
        margin-bottom: 20px;
        .fa-envelope {
            font-size: 25px;
            margin-right: 20px;
            color: $juicy-green;
            transition: color 0.1s;
        }

        a {
            font-style: normal;
            // font-size: 18px;
            font-weight: bolder;
        }
    }

    &__email:hover .fa-envelope{
        color: $juicy-orange;
    }

    &__phone {
        margin: 0 0 20px 0;
        display: flex;
        align-items: center;

        .fa-phone-volume{
            transform: rotate(-45deg);
            font-size: 25px;
            margin-left: 4px;
            margin-right: 21px;
            color: $juicy-green;
            transition: color 0.1s;
        }

        a {
            font-style: normal;
            // font-size: 18px;
            font-weight: bolder;
        }
    }

    &__phone:hover .fa-phone-volume{
        color: $juicy-orange;
    }

    &__links {
        width: 20%;
        height: 75px;
        padding-left: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            width: fit-content;
            text-decoration: underline;
            transition: all 0.3s;
        }

        a:hover {
            color: $juicy-orange;
            text-indent: 15px;
        }
    }

    &__copyrights {
        height: 50px;
        padding-right: 2vw;
        line-height: 50px;
        border-top: 2px solid #282c33;
        color: rgb(202, 202, 202);
        font-size: 12px;
        letter-spacing: 2px;
        text-align: end;
        background-color: #191d23;;
    }
}

@media only screen and (max-width: 992px){
    .footer {
        padding-top: 30px;
        font-size: 18px;

        &__content {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px 50px;
        }
    
        &__company {
            width: 100%;
            margin-bottom: 30px;

            &-about {
                display: flex;
                align-items: center;
            }
    
            &-logo {
                float: left;
                width: 150px;
                height: auto;
                margin-right: 25px;
            }
    
            &-fb {
                // font-size: 45px;
            }
        }
    
    
        &__contacts {
            width: 100%;
            height: auto;
            color: #fff;
        }
    
        &__schedule {
            margin-bottom: 25px;
    
            .fa-clock {
                font-size: 18px;
            }
        }

        &__schedule:hover .fa-clock{
            color: $juicy-green;
        }
    
    
        &__address {
            margin-bottom: 25px;
            .fa-map-marker-alt {
                font-size: 14px;
            }
    
            a {
                font-size: 12px; 
            }
        }
    
        &__address:hover .fa-map-marker-alt{
            color: $juicy-green;
        }
    
        &__email {
            margin-bottom: 25px;
            .fa-envelope {
                font-size: 16px;
            }
        }

        &__email:hover .fa-envelope{
            color: $juicy-green;
        }
    
        &__phone {
            margin: 15px 0 0 0;
            .fa-phone-volume{
                font-size: 18px;
            }
    
            a {
                line-height: 30px;
                letter-spacing: 1px;
            }
        }
    
        &__phone:hover .fa-phone-volume{
            color: $juicy-green;
        }
    
        &__links {
            width: 100%;
            height: auto;
            padding-left: unset;
            margin: 50px 0 30px;
            flex-direction: row;
            justify-content: space-evenly;

            & a:hover {
                text-indent: unset;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .footer {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px){
    .footer {
        font-size: initial;
        &__content {
            padding: 0;
        }
    
        &__company {
    
            &-logo {
                width: 100px;
            }
        }
    
        &__schedule {
            margin-bottom: 15px;
        }
    
    
        &__address {
            margin-bottom: 15px;
        }
    
        &__email {
            margin-bottom: 15px;
        }
    
        &__phone {
            margin: 15px 0 0 0;
        }
    
        &__links {
            margin: 30px 0;
        }
    }
}