@import "../../variables.scss";

.call-us {
    background: linear-gradient(0deg, #fff 50%, #F8F8F8 50%);
    margin-bottom: 140px;

    &__wrap {
        width: unset;
        position: relative;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-bg;
        box-shadow: 9px 12px 38px 0px rgba(0, 0, 0, 0.1);
    }

    .call-us__icon {
        position: absolute;
        top: 50%;
        left: 355px;
        border-radius: 50%; 
        background-color: #fff;


        .fa-phone-volume {
            position: absolute;
            top: 15px;
            left: 22px;
            transform: rotate(-45deg);
            color: #fff;
            font-size: 40px;
        }

        .outer {
            width: 80px;
            height: 80px;
            position: absolute;
            margin-top: -40px;
            margin-left: -25px;
            border-radius: 100%;
            background: #fff;
        }
          
        .inner {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: $juicy-green;
        }
    }

    &__img {
        width: 375px;
        align-self: stretch;
        background-size: cover;
        background-position-y: -61px;
    }

    &__info {
        flex-grow: 1;
        margin-left: 27px;
        text-align: center;
    }

    &__info-main {
        font-weight: 600;
        font-size: 23px;

        & a {
            color: $juicy-orange;
        }
    }

    &__info-additional {
        line-height: 40px;
        font-weight: 200;
    }

    &__separator {
        width: 10px;
        display: inline-block;
    }
}

@media only screen and (max-width: 1199px){
    .call-us {
        .call-us__icon {
            left: unset;
            right: 67%;
        }

        &__img {
            background-size: auto 133%;
            background-position-y: bottom;
            background-position-x: center;
            background-repeat: no-repeat;
        }
    
        &__info-additional {
            line-height: unset;
        }

        &__separator {
            width: unset;
            display: block;
        }
    }
}

@media only screen and (max-width: 991px){
    .call-us {
        &__info-main {
            font-size: 18px;
    
            & a {
                font-size: 20px;
            }
        }
    
        &__info-additional {
            font-size: 16px;
        }

    }
}

@media only screen and (max-width: 600px){
    .call-us {
        margin-bottom: 50px;
    
        &__wrap {
            margin: 0 auto;
            width: 95%;
            height: 130px;
            padding: 3px;
            flex-direction: column;
            position: relative;
            box-shadow: 0px 0 38px 0px rgba(0, 0, 0, 0.5);
        }
    
        .call-us__icon {
            position: absolute;
            top: 50%;
            left: 0px;
    
            .fa-phone-volume {
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 30px;
                -webkit-animation: ring 5s infinite ease-in-out;
                animation: ring 5s infinite ease-in-out;
            }
    
            .outer {
                width: 60px;
                height: 60px;
                position: absolute;
                margin-top: -33px;
                margin-left: -25px;
                border-radius: 100%;
                background: #fff;
            }
              
            .inner {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: $juicy-green;
            }
        }
    
        &__img {
            height: 65px;
            width: 100%;
            background-size: 100% 300%;
            background-position-y: center;
            background-position-x: center;
            background-repeat: no-repeat;
        }
    
        &__info {
            flex-grow: 1;
            margin-left: 30px;
            text-align: center;
            padding: 10px 0;
        }
    
        &__info-main {
            font-weight: 300;
            font-size: 16px;
    
            & a {
                font-weight: 600;
                font-size: 18px;
            }
        }
    
        &__info-additional {
            display: none;
            line-height: 40px;
            font-weight: 200;
        }
    }
}