
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
}

body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

.container {
  width: 98vw;
  max-width: 1440px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* banner DELETE */
.banner {
  position: relative;
  z-index: -1;
}

.thin {
  position: absolute;
  top: 130px;
  left: 400px;
  font-size: 130px;
  font-weight: 100;
  /* color: grey; */
  color: transparent; /* прозрачный цвет букв */
  -webkit-text-stroke: 1px grey;
  -webkit-text-stroke-width: 2px;
  /* border-color: 5px solid grey; */
}

.main {
  position: absolute;
  font-size: 100px;
}

.description {
  position: absolute;
}
