$text-color: #686868;
$light-bg: #fff;
$light-dark-bg: #F8F8F8;
$dark-bg: #20242c;

$juicy-orange: #ff7029;
$juicy-green: #57b33e;
$neon-green: #28ff00;
$neon-orange: #fa5a03;


@mixin flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin shadow {
    box-shadow: 9px 12px 38px 0px rgba(0, 0, 0, 0.1);
}