@import "../../variables.scss";

.banner {
    height: 100vh;
    background-size: 100% auto;
    background-position: center 60px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &__dark-layer {
        width: 53%;
        height: 100%;
        position: relative;
        top: 0;
        left: 47%;
        background-color: $dark-bg;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto 80%;
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    &__info {
        position: absolute;
        color: #fff;
        width: fit-content;
        text-align: end;
        background-color: $dark-bg;
        z-index: 10;
    }

    &__info--main {
        top: 38vh;
        left: 59vw;
        font-size: 34px;
        text-align: center;
        text-shadow: 5px 5px 3px #000;
    }

    &__info--details {
        bottom: 2vh;
        right: 40px;
        font-size: 21px;
    }
}

@media only screen and (max-width: 1199px) {
    .banner {
        margin-top: 60px;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;

    
        &__dark-layer {
            display: none;
        }
    
        &__info {
            text-align: center;
        }
    
        &__info--main {
            width: 100%;
            height: 150px;
            top: 330px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            text-shadow: 2px 2px 3px #000000;
            line-height: 16px;
            color: #efeaea;
            background-image: linear-gradient(45deg, $juicy-green, #016b01);
    
            & span {
                font-size: 25px;
            }
        }
    
        &__info--details {
            width: 100%;
            bottom: 0;
            right: 0;
            font-size: 12px;
            background-color: $juicy-green;
            padding: 5px 0 10px;
            border-top: 5px solid $dark-bg;
            color: #000;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 390px) {
    .banner {
        &__info--main {
            height: 135px;
            // top: 317px;
            font-size: 20px;
            & span {
                font-size: 20px;
            }
        }
    }
}